body{
  background-color:#0F1F2E ;
}

.main{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: 0 auto;
  position: absolute;
  background-color: #153243;
  padding: 10% 0;

}

.content > h3, .content > h5, .content > p{
  display: flex;
  margin:5px 0px;
  color: #F4F9E9;
  
  justify-content: center;
}

.content > h5{
  color: #B4B8AB;
}



.email{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  
  padding: 5px 0px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  margin: auto;
}


.email > p{
  padding: 0%;
  margin: 0%;
}

.about{
  padding: 10px 30px;;
  justify-content: center;
}

.about > h3{
  margin: 20px 0px 0px 0px;
  color: white;
}

.about > p{
  margin: 0px;
  padding: 10px 0px;
  color: #EEF0EB;
}





